default_install_hook_types: [commit-msg, prepare-commit-msg]
repos:
  - repo: local
    hooks:
      - name: commit-msg
        id: commit-msg
        language: python
        entry: ./commit-msg.py
        stages: [commit-msg]
        additional_dependencies: ["gql[all]"]
  - repo: local
    hooks:
      - name: prepare-commit-msg
        id: prepare-commit-msg
        language: python
        entry: ./prepare-commit-msg.py
        stages: [prepare-commit-msg]
        additional_dependencies: ["gql[all]"]
