[tool.bumpver]
current_version = "23.03.24-1"
version_pattern = "0Y.0M.0D[-INC0]"
commit_message = "Bump version {old_version} -> {new_version}"
commit = true
tag = true
push = false

[tool.bumpver.file_patterns]
"pyproject.toml" = [
    'current_version = "{version}"',
]
"README.md" = [
    'rev: {version}',
]
"commit-msg.py" = [
    'two-inc/git-hooks/blob/{version}/README.md'
]
