name: Run test

on:
  workflow_dispatch:
  push:

jobs:
  pytest:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - name: Determine which namespace to deploy to
        shell: bash
        run: |
          pip install '.[dev]'
          pytest
